.account-options-menu {
  position: absolute;
  display: block;
  border: 1px solid #ccc;
  top: -250px;
  left: 65px;
  z-index: 100;
  background: #fff;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background: #FBFAFA;
}

.account-options-menu-header {
  height: 75px;
  text-align: center;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
}

.username {
  margin: auto auto;
}

.settings-link,
.sign-out-link {
  border-top: 1px solid #aaa;
  padding: 10px;
}

.sign-out-button {
  display: block;
}

.link {
  border-top: 1px solid #ccc;
}

.settings-link:hover,
.sign-out-link:hover {
  background: #2dbe60;
}

.sign-out-button:hover {
}
