.navbar {
  height: 100%;
  float: left;
  width: 60px;
  background: #877B6A;
  padding: 10px;
  z-index: 100;
}

.navbar-link {
  margin: 10px 0;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #2dbe60;
  text-align: center;
  padding: 10px;
}

.navbar-link:hover {
  cursor: pointer;
  background: #2dbe60;
}

.bottom-bar {
  margin-top: 50px;
}

.profile-button {
  border: 1px solid #2dbe60;
  border-radius: 50%;
  background: #fff;
  display: relative;
  text-align: center;
  padding: 10px;
  position: relative;
}

.profile-button:hover {
  background: #2dbe60;
  cursor: pointer;
}

.logo {
  background: white;
  height: 50px;
  width: 60px;
}
