.navbar-outer {
  height: 100%;
  float: left;
  width: 60px;
  background: #738F9B;
  padding: 10px;
  z-index: 100;
  text-align: center;
  border-right: 3px solid black;
}

.navbar-link {
  margin: 15px auto;
  background: #fff;
  border: 2px solid #738F9B;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.navbar-link:hover {
  cursor: pointer;
  background: #43BF40;
}

.notebooks-link {
  content: image-url('notebook.png');
}

.search-link {
  content: image-url('search.png');
}

.notes-link {
  margin-top: 50px;
  content: image-url('note.png');
}

.new-note-link {
  content: image-url('new_note.png');
}

// .profile-button {
//   content: image-url('profile.png');
// }

.bottom-bar {
  margin-top: 50px;
}

.profile-button {
  border: 1px solid #2dbe60;
  border-radius: 50%;
  background: #fff;
  // content: image-url('profile.png');
  color: #738F9B;

  position: absolute;
  margin-left: 5px;
  margin-bottom: 8px;
  bottom: 0;
}
