.navbar {
  height: 100%;
  float: left;
  width: 60px;
  background: #877B6A;
  padding: 10px;
  z-index: 100;
  text-align: center;
  border-right: 3px solid #000;
}

.navbar-link {
  margin: 10px auto;
  background: #fff;
  border-radius: 50%;
  // color: white;
  border: 1px solid #2dbe60;
  padding: 10px;
  // content: image-url('notebook.png');
}

.navbar-link:hover {
  cursor: pointer;
  background: #6b4a18;
}

.notebooks-link {
  content: image-url('notebook.png');
}

.bottom-bar {
  margin-top: 50px;
}

.profile-button {
  border: 1px solid #2dbe60;
  border-radius: 50%;
  background: #fff;

  text-align: center;
  padding: 12px;
  position: absolute;
  margin: auto;
  margin-bottom: 10px;

  bottom: 0;
}

.profile-button:hover {
  background: #2dbe60;
  cursor: pointer;
}

.logo {
  background: white;
  height: 50px;
  width: 60px;
}
