.navbar-outer {
  height: 100%;
  float: left;
  width: 60px;
  background: #7C7062;
  padding: 10px;
  z-index: 11;
  text-align: center;
  border-right: 3px solid #643B0F;
}

.navbar-link {
  margin: 15px auto;
  background: #fff;
  border: 2px solid #738F9B;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.navbar-link:hover {
  cursor: pointer;
  background: #43BF40;
}

.notebooks-link {
  content: image-url('notebook.png');
}

.search-link {
  content: image-url('search.png');
}

.notes-link {
  margin-top: 50px;
  content: image-url('note.png');
}

.new-note-link {
  content: image-url('new_note.png');
}

.bottom-bar {
  margin-top: 50px;
}

.profile-button {
  border: 1px solid #2dbe60;
  border-radius: 50%;
  background: #fff;

  text-align: center;
  padding: 10px 13px;
  position: absolute;
  margin: 0 auto;
  margin-bottom: 8px;

  color: #2f32b6;
  bottom: 0;
}

.logo {
  background: white;
  height: 50px;
  width: 60px;
}
