.note-index-item {
}

.selected {
  border: 3px solid #ccc;
}

.note-index-item-inner {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  height: 100px;
}

.note-index-item-title {
  padding: 5px 0 2px 0;
  font-family: futura;
  font-size: 16px;
  font-weight: 400;
}

.note-index-item-date {
  text-transform: uppercase;
  font-family: gotham, helvetica, arial, sans-serif;;
  font-size: 10px;
  letter-spacing: .5px;
  font-weight: lighter;
}

.note-index-item-body {
  padding-top: 10px;
  font-family: 'Gill Sans';
  font-weight: 100;
  font-size: 14px;
}

.note-index-item:hover {
  background: #2dbe60;
  cursor: pointer;
}
