.notes-index {
  float: left;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 350px;
  background: white;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

.notes-index-header {
  padding: 20px 20px 15px 10px;
}

.notes-index-title {
  color: #878787;
  font-weight: 200;
  font-family: 'Copperplate Gothic Light';
  font-size: 21px;
  vertical-align: top;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.notes-index-header-bottom {
  display: block;
  margin-top: 30px;
  font-family: tahoma;
}

.number-of-notes {
  font-size: 13px;
}

.options-dropdown-click {
  float: right;
  font-size: 13px;
  position: relative;
}

.options-dropdown-click:hover {
  cursor: pointer;
}

.number-of-notes,
.options-dropdown {
}

.number-of-notes {
  float: left;
}

.options-dropdown {
  float:right;
}

.note-index-items {
  border-top: 1px solid #ccc;
  overflow: auto;
  height: 100%;
}
