<div class="sign-up">
  <h1>Create Account</h1>

  <form class="sign-up-form" action="<%= users_url %>" method="post">
    <%= auth_token_input %>

    <div class="input">
      <label for="username">Your Email Address</label>
      <input id="username" type="text" name="user[username]" value="">
    </div>

    <div class="input">
      <label for="password">Create a password</label>
      <input id="password" type="password" name="user[password]" value="">
    </div>

    <button>Create Account</button>

  </form>

  <div class="sign-in-question">Already have an account?</div>
  <a class="sign-in-link" href="/session/new">Sign in</a>
</div>
