.notebook-index-item {
  border-top: 1px solid #ccc;
  padding: 10px;
  overflow-y: hidden;
}

.selected {
  border: 3px solid #ccc;
}

.notebook-index-item-inner {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  height: 100px;
}

.notebook-index-item:hover {
  background: #2dbe60;
  cursor: pointer;
}

.notebook-index-item-title {
  padding: 5px 0 2px 0;
  font-family: futura;
  font-size: 16px;
  font-weight: 400;
  float: left;
}

.notebook-index-item-trash {
  float: right;
}

.notebook-index-item-trash:hover {
  color: white;
}

.search-notebook-input {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 5px 0;
  font-size: 14px;
}

::-webkit-input-placeholder {
  text-align: center;
  opacity: 0.5;
}

.new-notebook-modal {
  text-align: center;
  z-index: 400;
  width: 400px;
  height: 200px;
}

.new-notebook-modal-title {
  font-size: 28px;
}

.new-notebook-modal-title {
  font-weight: 300;
}

.new-notebook-title-input {
  width: 375px;
  margin-top: 15px;
  padding: 5px 5px;
  font-size: 14px;
}

.new-notebook-modal button {
  width: 150px;
  margin-top: 35px;
  border: 1px solid #2A2C05;
  margin-right: 5px;
  margin-left: 5px;
}
