.notebook-index-item {
  border-top: 1px solid #ccc;
  padding: 10px;
  overflow-y: hidden;
}

.selected {
  border: 3px solid #ccc;
}

.notebook-index-item-inner {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  height: 100px;
}

.notebook-index-item-title {
  padding: 5px 0 2px 0;
  font-family: futura;
  font-size: 16px;
  font-weight: 400;
}

.notebook-index-item:hover {
  background: #2dbe60;
  cursor: pointer;
}

.search-notebook-input {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 5px 0;
  font-size: 14px;
}

::-webkit-input-placeholder {
  text-align: center;
  opacity: 0.5;
}

.new-notebook-modal {
  text-align: center;
  z-index: 200;
  position: relative;
}

.new-notebook-modal-title {
  font-size: 16px;
}

.new-notebook-title-input {
  width: 100%;
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
  font-size: 24px;
}

.new-notebook-cancel-button {
  float: left;
}

.new-notebook-create-button {
  float: right;
}

.new-notebook-cancel-button,
.new-notebook-create-button {
  width: 50%;
}

.notebook-index-item-title {
  float: left;
}

.mini-menu-delete {

}
