.slideout-notebooks {
  height: 100%;
  position: absolute;
  top: 0;
  left: 80px;
}

.notebook-index {
  position: relative;
  z-index: 1;
  height: 100%;
  border-right: 3px solid #ccc;
  border-left: 3px solid #ccc;
  width: 400px;
  background: white;
}

.notebook-index-header {
  display: block;
  padding: 20px 20px 15px 10px;
}

.notebook-index-title {
  text-transform: uppercase;
  float: left;
}

.add-notebook-button {
  float: right;
}

.add-notebook-button:hover {
  cursor: pointer;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.new-notebook-modal {
  width: 400px;
  height: 150px;
  text-align: center;
  font-size: 24px;
  font-family: 'baskerville';
  background-color: black;
}

.new-notebook-modal button {
  width: 150px;
  margin: 50px 5px;
  height: 30px;
  font-size: 18px;
  font-family: cambria;
  border: 1px solid #2A2C05;
  background: #738F9B;
  color: white;
  border-radius: 5px;
}

.new-notebook-modal button:hover {
  cursor: pointer;
}
