.note-form-outer {
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
  height: 100%;
}

.expanded {
  padding: 0 100px;
}

.done-button {
  font-family: baskerville;
  background: #efefef;
  font-weight: 400;
  /*border-radius: 5px;*/
  padding: 4px 7px;
  outline: 3px solid #d7d7d7;
  outline-style: double;
}

.done-button:hover {
  background: #5e5f5f;
  color: white;
}

.note-form-header {
  margin-top: 5px;
  text-align: right;
  padding: 10px;
}

.expand-button {
  float: right;
}

.expand-button:hover {
  cursor: pointer;
}

.done-button {
  display: inline;
  border: 1px solid #aaa;
  margin-left: 0;
}

.done-button:hover {
  cursor: pointer;
}

.editor-outer {
  height: 100%;
}

.note-form-title {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 32px;
  font-family: 'didot';
}

.ql-editor {
  height: 100%;
  padding: 20px;
  box-shadow: 2px 2px 8px;
  color: #513207;
  background: #fefefe;
}
