.note-form-outer {
  margin-right: auto;
  padding: 0 15px;
  background: #FBFBF9;
  overflow: hidden;
  height: 100%;
}

.expanded {
  padding: 0 100px;
}

.note-form-header {
  text-align: right;
  padding: 10px;
}

.new-note-form-cancel-button {
  float: right;
  margin-right: 10px;
  background: #ccc;
}

.new-note-form-done-button {
  float: right;
}

.new-note-form-done-button,
.new-note-form-cancel-button {
  border: 1px solid #aaa;
  padding: 8px 10px;
  border-radius: 5px;
}

.new-note-form-done-button:hover,
.new-note-form-cancel-button:hover {
  cursor: pointer;
  background: #877B6A;
}

.note-form-header-minimenu {
  float: left;
}

.note-form-header-minimenu:hover {
  cursor: pointer;
  background: green;
}

.expand-button {
  float: right;
}

.expand-button:hover {
  cursor: pointer;
}

.done-button {
  display: inline;
  border: 1px solid #aaa;
  margin-left: 0;
}

.done-button:hover {
  cursor: pointer;
}

.editor-outer {
  height: 100%;
}

.note-form-title {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 32px;
  font-family: verdana;
  background: #FBFBF9;
}

.ql-editor {
  height: 100%;
  padding: 20px;
  box-shadow: 2px 2px 8px;
  color: #513207;
  background: #FCFCFB;
}
