.note-form-outer {
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
  height: 100%;
}

.cancel-button,
.done-button {
  font-family: baskerville;
  background: #efefef;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  margin-left: 5px;
  padding: 4px 7px;
  float: right;
}

.done-button {
  background: #586793;
  color: white;
}

.cancel-button:hover,
.done-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.note-form-header {
  margin-top: 5px;
  text-align: right;
  padding: 10px;
}

.expand-button {
  float: right;
  border: 1px solid #b2b2b2;
  padding: 5px 7px;
  color: #465275;
  border-radius: 5px;
}

.expand-button:hover {
  cursor: pointer;
  opacity: 0.5;
  background: #999;
  color: white;
}

.editor-outer {
  height: 100%;
}

.note-form-title {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 32px;
  font-family: 'didot';
}

.ql-editor {
  height: 100%;
  padding: 20px;
  box-shadow: 2px 2px 8px;
  color: #513207;
  background: #fefefe;
}
