.navbar {
  height: 100%;
  float: left;
  width: 60px;
  background: #67583A;
  padding: 10px;
}

.navbar-link {
  margin: 10px 0;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #2dbe60;

}

.navbar-link:hover {
  cursor: pointer;
  background: #2dbe60;
}
