.note-form-outer {
  margin-right: auto;
  margin-left: auto;
  background: white;
  overflow: hidden;
  height: 100%;
}

.note-form-header {
  text-align: right;
  padding: 10px;
}

.done-button {
  display: inline;
  border: 1px solid #aaa;
  margin-left: 0;
}

.done-button:hover {
  cursor: pointer;
}

.editor-outer {
  height: 100%;
}

.note-form-title {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 36px;

}

.ql-editor {
  height: 100%;
  padding: 20px;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
  border: 1px solid #e5e5e5;
}
