.note-form-outer {
  margin-right: auto;
  padding: 0 15px;
  background: white;
  overflow: hidden;
  height: 100%;
}

.new-form {
  padding: 0 100px;
}

.note-form-header {
  text-align: right;
  padding: 10px;
}

.done-button {
  display: inline;
  border: 1px solid #aaa;
  margin-left: 0;
}

.done-button:hover {
  cursor: pointer;
}

.editor-outer {
  height: 100%;
}

.note-form-title {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 32px;
  font-family: verdana;
}

.ql-editor {
  height: 100%;
  padding: 20px;
  /*box-shadow: 2px 1px 5px rgba(0,0,0,0.2);*/
  box-shadow: 2px 2px 8px;
  color: #513207;
  /*border: 1px solid #513207;*/
}
