html, h1, header, body, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  color: inherit;
  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;

  background: transparent;
}

html, body, #root, .home, .app {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
