.welcome-page {
  background-color: #CDB79E;
  background-image: image-url('welcome-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

.welcome-page-form {
  position: absolute;
  left: 44%;
  top: 54%;
  width: 475px;
  height: 300px;
  margin: auto auto;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background: #dbd7cd;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sign-in-button,
.register-button {
  width: 50%;
  border: 0;
  padding: 4px 5px;
  font-size: 18px;
  font-family: 'Bodoni MT';
  font-weight: 100;
  background-color: #4D3B07;
  color: #fff;
  border-bottom: 1px solid #80898E;
}

.sign-in-button:hover,
.register-button:hover {
  cursor: pointer;
  background-color: #706238;
}

.sign-in-button {
  border-radius: 5px 4px 0 0;
}

.register-button {
  border-right: 2px solid #ccc;
  border-radius: 4px 5px 0 0;
}

.sign-in, .sign-up {
  padding: 20px;
}

.sign-in input,
.sign-up input {
  width: 410px;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
}

::-webkit-input-placeholder {
  color: black;
  text-align: left;
}

.sign-in button,
.sign-up button {
  width: 430px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  background-color: #435E6E;
  color: white;
  font-family: optima;
}

.sign-up button {
  margin-top: 50px;
}

#guest-login-button {
  margin-top: 0;
  background-color: #74292A;
  color: white;
}

.sign-in button:hover,
.sign-up button:hover {
  cursor: pointer;
}

.errors {
  display: none;
  position: absolute;
  width: 405px;
  height: 20px;
  left: 34px;
  bottom: 127px;
}

.error {
  color: #b92219;
  font-size: 14px;
  padding: 3px;
  background: #e5bcbc;
  border-right: 1px solid #c16976;
  border-left: 1px solid #c16976;
  border-bottom: 1px solid #c16976;
}
