<!DOCTYPE html>
<html>
<head>
  <title>ClearNote</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script src="http://cdn.quilljs.com/latest/quill.js"></script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
