<!DOCTYPE html>
<html>
<head>
  <title>Pad</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdn.quilljs.com/0.20.1/quill.snow.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

  <%= javascript_include_tag 'application' %>

  <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>
</body>
</html>
